/* initial page settings */
* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0;
  border: 1px solid black; */
  color: azure;
}

.parallax {
  /* The image used */
  background-image: url("../images/cocktailbg.jpg");
  /* background-color: #cccccc; */

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: rgba(89, 53, 148, 0.7);
}

/* wrapper for page */
.wrapper {
  width: 100vw;
  height: auto;
}

#page-title {
  display: flex;
  justify-content: center;
  background-color: rgba(5, 29, 20, 0.8);
  border-radius: 15px;
}

#current-date {
  font-size: 25px;
  padding:15px;
}

#current-date {
  --webkit-border-image: --webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
}

#page-title img {
  width: 40vw;
  height: auto;
}

h3 {
  font-size: 25px;
}

#display-title {
  padding: 10px;
  font-size: 25px;
  word-wrap: normal;
}

#display-title a {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  padding: 4px;
  border-radius: 20px;
}

#history-list span:hover {
  color: rgb(240, 77, 213);
}

#results-display, #controls {
  border-radius: 15px;
  background-color: rgb(19, 62, 63, 0.8);
}

/* image size max */
#display-image img {
  max-height: 30vh;
  max-width: 30vw;
}

/* on small layout, hide */
.calendar {
  display: none;
}
.settings {
  display: none;
}
.history {
  display: none;
}

#footer-div {
  display: flex;
  font-size: 30px;

}

#trivia-title {
  background-color: rgb(37, 39, 84, 0.6);
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding: 10px;
}

#email-div {
  background-color: rgba(5, 29, 20, 0.8);
  border-radius: 15px;
  font-size: 20px;
}

#email {
  border: 1px dotted white;
}

#footer-div {
  display: flex;
}

#footer-div img {
  width: 100px;
  height: auto;
}

/* media query to show menu items */
@media screen and (min-width: 576px) {
  .menu {
    display: none;
  }
  .calendar {
    display: inline-block;
  }
  .settings {
    display: inline-block;
  }
  .history {
    display: inline-block;
  }
}



@media screen and (min-width: 884px) {
  .btn-style {
    display:flex;
    flex-direction: column;
  }



}



