*{ box-sizing: border-box; 
   padding: 0;
   margin: 0;
   border: 1px solid black; }

   .wrapper {
      width: 100vw;
      height: 100vh;
   }

   .container{
      display: grid;
      width: 100vw;
      height: 100vh;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 25% 70% 15%;
      column-gap: 10px;
      row-gap: 10px;
   }
   header {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-template-rows: repeat(2,50%);
      grid-template-columns: repeat(4, 25%);
   }
   h1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 2;
      justify-self: center;
      align-self: center;
   }
   .menu {
       display: grid;
       grid-template-columns: 25% 50% 25%;
       grid-column-start: 1;
       grid-column-end: 5;
   }
   
   main {
      display: grid;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-template-columns: 30% 70%;
      grid-template-rows: 90% 10%;
   }   

   .search-history {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
   }   
   .drink-info{
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 30% 40% 30%; 
      grid-column-start:2;
      grid-column-end:3;
      grid-row-start: 1;
      grid-row-end: 2;
   }
   .drink-img{
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;

   }
   .drink-title{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;   
   }
   .drink-recipe{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3; 
   }
   .trivia{
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;

   }
   .send-email{
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
   }

   footer {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 4;
   }
  
   @media screen and (min-width: 576px) {
      #header {width: 100%;}
      #date {width: 100%;}
      #title {width: 100%;}
      #trivia {width: 100%;}
      #email {width: 100%;}
      footer {width: 100%;}
   }